language: php

php:
  - 7.2
  - 7.3
  - 7.4
  - 8.0
  - 8.1

before_script:
  - composer install --prefer-dist --dev

script:
  - vendor/bin/phpunit
  - vendor/bin/phpcs --ignore=/vendor/ --standard=PSR2 src

